:root {
    --dark: #333;
    --light: #fff;
    --primary: #ff5900;
}

@keyframes slideUp {
    from {
        transform: translateY(1rem);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes loadingIndicator {
    0% {
        left: 0;
        width: 0;
    }
    50% {
        left: 0;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 0;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: 1.75;
    background-color: #eee;
    color: var(--dark);
}

h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    line-height: 1.3;
}
h1 {
    margin-top: 0;
    font-size: 2.488rem;
}
h2 {
    font-size: 2.074rem;
}
h3 {
    font-size: 1.728rem;
}
h4 {
    font-size: 1.44rem;
}
h5 {
    font-size: 1.2rem;
}
p {
    margin-bottom: 1rem;
}
small, .text_small {
    font-size: 0.833rem;
}

nav {
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: var(--dark);
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
}
nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav > ul > li > a {
    text-decoration: none;
    color: var(--light);
    font-weight: bold;
    transition: color 0.2s ease-in-out;
}
nav > ul > li > a:hover {
    color: var(--primary);
}

main {
    padding: 1rem;
    display: flex;
}

.tile {
    margin: 0 auto 1rem;
    padding: 2rem;

    position: relative;
    overflow: hidden;

    width: 100%;
    max-width: 1000px;

    background-color: var(--light);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);

    animation: slideUp 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}
.tile-loading::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--primary);
    animation: loadingIndicator 2s ease-in-out infinite;
}
.tile a {
    text-decoration: none;
    color: var(--primary);
}
.tile a:hover {
    text-decoration: underline;
}